USE [OmmcMes]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

alter proc [dbo].[PLC_TAG_LOOKUP_WW_ITEM_NAME] (
	@PLC_IP varchar(15) = '172.16.2.191' 
	,@TAG_ID varchar(50)  = 'TQ2_2130'
) as begin
SET NOCOUNT ON;

SELECT isnull(PLC_IP, '') PLC_IP
      ,isnull(TAG_ID, '') TAG_ID
      ,isnull(WW_ITEM_NAME, '') WW_ITEM_NAME
      ,isnull([DESCRIPTION], '') [DESCRIPTION]
  FROM [OmmcMes].[dbo].[MST_PLC_TAGS]
  where [PLC_IP]=@PLC_IP and [TAG_ID]=@TAG_ID

end
